<h1>Number#score</h1>
<p>Find me in app/views/number/score.html.erb</p>
<p><%= @response %></p>
<p><%= @start_time %></p>

<p><%= @end_time %></p>
<p><%= @grid %></p>
<p><%= @run[:score]%></p>
<p><%= @run[:message]%></p>
